/*
Theme Name: Now Art Gallery Child
Theme URI: https://nowartgallery.art.br
Description: Child theme for Now Art Gallery, built on Kiosko theme. Customizes the minimalist design for art gallery e-commerce needs.
Author: Now Art Gallery
Author URI: https://nowartgallery.art.br
Template: kiosko
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: nowartgallery-child
*/

/* 
 * This file is required for WordPress to recognize this as a child theme.
 * All custom styles should be added via functions.php enqueue or in assets/css/
 */
